.categories {
  position: relative;

  display: flex;
  flex-direction: column;
}

.categories__header {
  display: flex;
  min-height: 283px;
  justify-content: center;

  background: url("../../../img/hero-mobile@1x.jpg") no-repeat center -17px;
  background-size: auto;
}

.categories__title {
  margin: 70px 24px auto;

  text-align: center;
  align-self: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
}

.categories__list {
  @include no-list();
  z-index: 3;
  width: 100%;
}

.categories__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 103px;

  background-color: $seafoam-blue;

  &:nth-child(2n) {
    background-color: darken($seafoam-blue, 5%);
  }

  &:hover {
    margin-top: -5px;
    height: 108px;
  }

  &:active .categories__svg {
    opacity: 0.3;
  }

  &:hover .categories__svg {
    opacity: 0.7;
  }

  &:active .categories__name {
    opacity: 0.3;
  }
}

.categories__link {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

.categories__name {
  flex: 1 1 auto;
  margin-right: 30px;

  font-size: 19px;
  font-weight: bold;
  color: white;
}

.categories__svg {
  color: $blue-green;
  font-size: 62px;

  opacity: 0.5;
}

.categories__bottom-svg {
  display: none;
}

@media (min-width: $tablet-width) {
  .categories__header {
    background-size: cover;
    background-position-y: 0;
    min-height: 741px;
  }

  .categories__title {
    margin: 151px 0 auto;
    font-size: 43px;
    line-height: 50px;
  }

  .categories__list {
    position: absolute;
    bottom: -16px;
    left: 0;

    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    margin: 0 52px;


    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      height: 24px;
      width: 100%;


      background-image: url("../../../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;

      //background: url("#icon-bg-zigzag-fill") bottom repeat-x;
    }
  }

  .categories__item {
    flex: 50%;
    height: 130px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    margin-top: -98px;
    z-index: 1;
  }

  .categories__header {
    min-height: 753px;
  }

  .categories__title {
    font-size: 53px;
    line-height: 57px;
  }
}
