.reviews {
  position: relative;
}

.reviews__title {
  @include title();
  margin-bottom: 22px;
}

.reviews__list {
  margin-bottom: 32px;
}

.reviews__item {
  margin: 0;
}

.reviews__description {
  margin: 0 0 28px;

  font-size: 15px;
  line-height: 30px;
  color: $gray-color;
}

.reviews__author {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  padding-bottom: 10px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.reviews__author_account {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
}

.reviews__toggles {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  margin-bottom: 38px;
}

.reviews__toggle {
  width: 50%;
  height: 52px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px;

  cursor: pointer;
  border: 1px solid $white-gray;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("/img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("/img/icon-right-arrow.svg");
  }
}

.reviews__write {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 77px 50px 100px 50px;

    background: url("/img/review@1x.jpg") no-repeat;
    background-size: 350px auto;
    box-sizing: content-box;
  }

  .reviews__list {
    order: 2;
    width: 60%;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__write {
    order: 0;
    width: 175px;
  }

  .reviews__toggles {
    order: 3;
    align-self: flex-end;
    margin-bottom: 32px;
  }

  .reviews__toggle {
    width: 87px;
    border: 0;
  }

  .reviews__description {
    margin-bottom: 56px;
    width: $tablet-container-width;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    padding: 70px 0 143px $desktop-container-margin-left;
    width: 1050px;
    margin-left: auto;

    box-sizing: border-box;
  }

  .reviews__title {
    @include titleDesktop();
  }

  .reviews__header,
  .reviews__list {
    margin-left: 0;
  }

  .reviews__author-name {
    font-size: 17px;
    padding-bottom: 6px;
  }

  .reviews__description {
    width: 770px;
    margin-bottom: 40px;
  }

  .reviews__write {
    margin-top: 10px;
    margin-bottom: 44px;
  }
}
