.weekly-good {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: white;
}

.weekly-good__footer {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 6px;

  background: url("../../../img/bg-zigzag-line.svg") repeat-x;
  background-size: contain;
}

.weekly-good__header {
  margin-bottom: 10px;
}

.weekly-good__info-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.weekly-good__title {
  @include title();
}

.weekly-good__subtitle {
  margin: 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $seafoam-blue;
  text-transform: uppercase;
}

.weekly-good__description {
  margin-bottom: 17px;

  font-size: 15px;
  line-height: 24px;
  color: $gray-color;
}

.weekly-good__info {
  border-collapse: collapse;
  margin-bottom: 28px;

  line-height: 24px;
}

.weekly-good__row {
  height: 39px;

  fill: $gray-color;
  border-bottom: 1px solid lightgray;
}

.weekly-good__name {
  padding-right: 12px;
}

.weekly-good__image {
  width: 100%;
  height: auto;
  margin-bottom: 24px;

  object-fit: contain;
}

.weekly-good__price {
  margin-bottom: 24px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: $gray-color;
}

.weekly-good__order {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .weekly-good__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //min-height: 80px;
    margin-bottom: 29px;
  }

  .weekly-good__title {
    @include titleTablet();
  }

  .weekly-good__subtitle {
    max-width: 70px;
    text-align: center;
    margin-right: 28px;
  }


  .weekly-good__image {
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 0;
    width: 334px;
  }

  .weekly-good__description {
    margin-bottom: 36px;
    width: 45%;

    font-size: 17px;
    line-height: 30px;
  }

  .weekly-good__info {
    margin-bottom: 56px;
  }

  .weekly-good__price {
    font-size: 20px;
    margin-bottom: 34px;
  }

  .weekly-good__order,
  .weekly-good__price,
  .weekly-good__info {
    width: 37.8%;
  }

  .weekly-good__footer {
    height: 14px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-good {
    padding-top: 118px;
  }

  .weekly-good__image {
    width: 525px;
    top: -141px;
  }

  .weekly-good__title {
    @include titleDesktop();
    z-index: 4;
  }

  .weekly-good__subtitle {
    position: absolute;
    left: 97px;
  }

  .weekly-good__description {
    margin-bottom: 50px;
  }

  .weekly-good__info {
    margin-bottom: 113px;
  }

  .weekly-good__description,
  .weekly-good__price,
  .weekly-good__info {
    width: 34%;
  }

  .weekly-good__order {
    width: 30%;
  }

  .weekly-good__footer {
    height: 18px;
    bottom: -12px;
  }
}
