.weekly-good {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  padding-top: 26px;
  margin-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: url("../../../img/bg-zigzag-line.svg") repeat-x;
    background-size: contain;
  }
}

.weekly-good__header {
  margin-bottom: 10px;
}

.weekly-good__title {
  @include title();
}

.weekly-good__subtitle {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  color: $seafoam-blue;
  text-transform: uppercase;
}

.weekly-good__description {
  font-size: 15px;
  line-height: 24px;
  color: $gray-color;
  margin-bottom: 17px;
}

.weekly-good__info {
  border-collapse: collapse;
  line-height: 24px;
  margin-bottom: 28px;
}

.weekly-good__row {
  border-bottom: 1px solid lightgray;
  color: $gray-color;
  height: 39px;
}

.weekly-good__name {
  padding-right: 12px;
}

.weekly-good__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 24px;
}

.weekly-good__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  color: $gray-color;
}
