.about_company {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about_company__header {
  margin-bottom: 30px;
}

.about_company__title {
  @include title();
}

.about_company__list {
  @include no-list();
}

.about_company__item {
  padding-bottom: 30px;
}

.about_company__description {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.about-company__svg {
  font-size: 37px;
  color: $seafoam-blue;
  margin-bottom: 12px;
}
