.button {
  display: block;
  padding: 14px;
  box-sizing: border-box;

  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: $gray-color;

  cursor: pointer;
  background-color: white;
  border: 2px solid $gray-color;

  &:hover,
  &:focus {
    background: $gray-color;
    color: white;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--modal {
  color: white;
  background-color: $seafoam-blue;
  border: none;
}
