.copyright__text {
  margin-right: 24px;

  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  color: black;
}

.copyright__text-svg {
  font-size: 40px;

  &--academy {
    color: $seafoam-blue;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
}
