.main-nav {
  background-color: white;
  z-index: 1;
}

.main-nav__list {
  @include no-list();
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    background-color: transparent;
  }

  .main-nav__list {
    min-height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-basis: 100%;
  }
}
