.main-nav {
  flex-basis: 100%;

  background-color: white;
  z-index: 1;
}

.main-nav__list {
  @include no-list();
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 30px;

  width: 20px;
  height: 14px;

  background: transparent url("../../../img/icon-menu-open.svg") no-repeat;

  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }

  .main-nav__list {
    padding-left: 50px;
  }
}
