.page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: #f1f1f1;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  height: $footer-row-height;
  align-items: center;

  text-align: center;
}

.page-footer__divider {
  margin: 0 30px;
  height: 1px;

  background-color: white;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    height: 143px;
  }

  .page-footer__logo {
    display: flex;
    width: 102px;
    margin-left: 50px;
  }

  .page-footer__divider {
    display: none;
  }

  .page-footer__copyright {
    height: unset;
    margin-right: 50px;
  }

  .page-footer__social {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
