.page-header {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  min-height: 80px;
  justify-content: center;

  border-bottom: $site-item-border;
}

.page-header__logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  margin: 0 auto;
  width: 86px;
  height: 35px;

  object-fit: contain;
}

.page-header__delivery {
  display: none;
}


.page-header__toggle {
  position: absolute;
  top: calc(50% - 7px);
  right: 30px;

  width: 20px;
  height: 14px;

  background: transparent url("../img/icon-menu-open.svg") no-repeat;

  border: none;
  cursor: pointer;
}

@media (max-width: $mobile-width-only) {
  .page-header--menu-opened .page-header__toggle {
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
  }

  .page-header--menu-opened .site-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 88px;
    padding: 0 50px;
  }

  .page-header__logo {
    align-self: center;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }

  .page-header__delivery {
    position: absolute;
    top: 107px;
    right: 50px;

    display: inline-block;

    font-size: 15px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: right;
    color: $gray-color;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    flex-basis: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
  }

  .page-header__logo-image {
    height: 72px;
    width: 149px;
  }
}
