.page-header {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  min-height: 80px;
}

.page-header__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  background-color: white;
  border-bottom: $site-item-border;
}

.page-header__logo {
  display: flex;
  min-height: 80px;
  align-items: center;
  z-index: 2;
}

.page-header__logo-image {
  margin: 0 auto;
  width: 86px;
  height: 35px;

  object-fit: contain;
}

.page-header__delivery {
  position: absolute;
  top: 107px;
  right: 51px;

  display: none;

  font-size: 15px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: right;
  color: $gray-color;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    min-height: 88px;
  }
  .page-header__wrapper {
    min-height: 88px;
    display: block;
  }
  .page-header__logo {
    position: absolute;
    left: 50px;
    top: 25%;
    transform: translateY(-50%);

    display: block;
    min-height: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .page-header__delivery {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
  }

  .page-header__logo-image {
    height: 72px;
    width: 142px;
  }
}
