.site-list__item {
  display: flex;

  &:not(:first-child) {
    border-top: $site-item-border;
  }

  &:last-child {
    border-bottom: $site-item-border;
  }

  &--new,
  &--sale {
    display: none;
  }
}

.site-list__link {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  min-height: 79px;
  padding-right: $margin;
  padding-left: 76px;

  line-height: 24px;
  font-size: 17px;
  font-weight: bold;
  color: black;


  &:hover,
  &:focus {
    color: rgba(black, 0.6);
  }

  &:active {
    color: rgba(black, 0.3);
  }

  &:hover .site-list__icon,
  &:focus .site-list__icon {
    opacity: 1;
    fill: $seafoam-blue;
  }

  &:active .site-list__icon {
    opacity: 0.3;
  }
}

.site-list__icon {
  position: absolute;
  left: 30px;

  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
  }

  .site-list__item {
    min-height: 88px;

    &:not(:first-child) {
      border-top: unset;
    }

    &:last-child {
      border-bottom: unset;
    }

    &--cart {
      min-width: 316px;
    }

    &--search {
      margin-left: auto;
      width: 84px;
      border-left: $site-item-border;
      border-right: $site-item-border;

      span {
        display: none;
      }
    }

    &--catalog,
    &--form {
      position: absolute;
      top: 88px;
      left: 50px;

      .site-list__link {
        align-items: flex-start;
        padding-left: 0;
        padding-top: 19px;

        font-size: 15px;
      }
    }

    &--form {
      left: 220px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-wrap: nowrap;
    padding-left: 20px;
  }

  .site-list__item {
    &--new,
    &--sale {
      display: flex;
      min-width: $desktop-site-item-width;

      .site-list__link {
        align-items: flex-start;
        padding-left: 30px;
        padding-top: 19px;

        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        color: black;
      }
    }

    &--catalog,
    &--form {
      top: 0;
      left: 15px;
      width: 234px;

      .site-list__link {
        font-size: 17px;
        align-items: center;
        padding: 0 35px;
      }
    }

    &--form {
      left: 235px;
      border-left: $site-item-border;
    }
  }
}
