
.social__list {
  @include no-list();
  display: flex;
  padding: 0 25%;
  margin: 0 auto;
  height: $footer-row-height;
  justify-content: space-between;
  width: 50%;
  max-width: 150px;
  text-align: center;
  align-items: center;
}

.social__link {
  cursor: pointer;
  color: unset;
}

.social__link-svg {
  font-size: 22px;
  padding: 0 10px;

  &:hover,
  &:focus {
    color: $blue-green;
  }
}
