.social__list {
  @include no-list();
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 141px;
}

.social__link {
  cursor: pointer;
  color: black;
}

.social__link-svg {
  &:hover,
  &:focus {
    color: $blue-green;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }

  &--instagram {
    width: 22px;
    height: 21px;
  }
}
