.zigzag::after {
  content: "";
  position: relative;

  display: flex;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  height: 6px;

  background: url("../img/bg-zigzag-line.svg") repeat-x;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .zigzag::after {
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .zigzag::after {
    height: 24px;
  }
}
