.form__fieldset-controls {
  @include no-list();
}

.form__description {
  padding: 20px 30px;
  margin-right: 5%;
}

.form__fieldset {
  padding: 5px 30px;

  border: 0;

  &--phone .form__fieldset-title,
  &--email .form__fieldset-title {
    padding-bottom: 10px;
  }
}

.form__fieldset-title {
  display: flex;
  width: 100%;
  padding-bottom: 26px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $seafoam-blue;
  text-transform: uppercase;
  word-break: break-all;

  &::after {
    margin-left: 22px;
    flex-grow: 1;
    align-self: center;
    content: "";
    height: 1px;
    background-color: #63d1bb;
  }
}

.form__label {
  display: flex;
  align-items: center;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__order {
  padding: 10px 30px;
  margin-bottom: 45px;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.form__order-legend {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
  color: $gray-color;
}

.form__modal-control--size {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.form__modal-fieldset {
  padding: 0;
  border: 0;
}

.form__modal-control {
  margin: 16px 0;
}

.form__modal-fieldset-title {
  display: block;
  padding: 8px 0;

  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .form__fieldset--comment .form__control {
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset {

    padding: 50px 50px 29px 50px;

    &--background {
      background-color: $white-two;
    }

    &--phone {
      padding-bottom: 5px;
      padding-top: 54px;
    }

    &--email {
      padding-top: 0;
    }
  }

  .form__fieldset-controls {
    flex: 1 1 0;
  }

  .form__fieldset-title {
    max-width: 25.3%;

    margin-top: 16px;

    &::after {
      display: none;
    }
  }

  .form__description {
    padding: 44px 50px 10px;
  }

  .form__fieldset-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .form__label {
    font-size: 19px;
  }

  .form__fieldset--color .form__fieldset-controls {
    display: flex;
    flex-flow: row wrap;


    .form__control {
      &:nth-child(1n) {
        flex-basis: 53%;
      }

      &:nth-child(2n) {
        flex-basis: 45%;
      }
    }
  }

  .form__order {
    flex-direction: row;

    padding: 0 50px;
    margin-bottom: 50px;
  }

  .form__order-legend {
    margin: auto 0 auto auto;

    font-size: 17px;
    line-height: 30px;
  }

  .form__order-button {
    width: 230px;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset-controls {
    flex: 0 1 67%;
  }

  .form__fieldset--color .form__fieldset-controls {
    flex: 1 1 0;
  }

  .form__fieldset-wrapper {
    margin: 0 auto;
    max-width: $max-width;
  }

  .form__description {
    margin-left: 178px;
    padding-top: 63px;
    width: 67%;
  }

  .form__fieldset-title {
    width: 114px;
    margin-left: 60px;
  }

  .form__fieldset--color .form__fieldset-controls .form__control:nth-child(n) {
    flex-basis: 30%;
  }

  .form__fieldset--color {
    padding-bottom: 30px;
  }

  .form__order {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    padding: 0 50px;
  }

  .form__order-button {
    margin-left: 174px;
  }

  .form__order-legend {
    margin: auto 0;
    flex-basis: calc(67% - 230px);
    text-align: right;
  }
}
