@import "./variables";

@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title() {
  font-size: 25px;
  margin: 0;
  color: black;
  line-height: 30px;
}

@mixin titleTablet() {
  font-size: 43px;
  line-height: 50px;
}

@mixin titleDesktop() {
  margin: 0;
  font-size: 53px;
  line-height: 57px;
}

@mixin catalogMobileTitle() {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: black;
}

@mixin catalogTabletTitle() {
  font-size: 20px;
  line-height: 24px;
}

@mixin catalogShadowBlock($hoverX: 6px, $hoverY: 6px, $hoverBlur: 10px,$activeX: 6px, $activeY: 3px, $activeBlur: 5px ) {
  &:hover {
    box-shadow: $hoverX $hoverY $hoverBlur rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: $activeX $activeY $activeBlur rgba(0, 0, 0, 0.1);
  }
}
