@import "./variables";

@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title() {
  font-size: 25px;
  margin: 0;
  color: black;
  line-height: 30px;
}

@mixin additionalMenuLink() {
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 19px;
  margin-left: -50px;

  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: black;
}
