
html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: $mobile-width;

  font-family: $font;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
}

a {
  text-decoration: none;
}
