@import "variables";

body {
  margin: 0 auto;
  font-family: $font;
  max-width: $desktop-width;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

a {
  text-decoration: none;
}
