$seafoam-blue: #63d1bb;
$seafoam-light-blue: #62d1ba;
$aqua-marine: #56c3b2;
$blue-green: #149080;
$greeny-blue: #46c1ae;
$margin: 30px;
$font: "Open Sans", "Arial", sans-serif;
$gray-color: #444444;
$white-two: #f1f1f1;
$white-gray: #ececec;
$dark-gray: #c7c7c7;
$footer-row-height: 80px;
$site-item-border: 1px solid #d3d2d2;
$mobile-width: 322px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$max-width: 1600px;
$desktop-site-item-width: 184px;
$mobile-container-width: 81%;
$tablet-container-width: 87%;
$desktop-container-width: 91%;
$desktop-container-margin-left: 170px;
$mobile-button-max-width: 260px;
$catalog-production-description-padding-left: 77px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
